
.change{
    width: 350px;
    height: 450px;
    position: relative;
    top: 20px;
    background-color:white;
    left: 600px;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.reason{
    position: relative;
    font-weight: 500;
    font-size: 30px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    top: 20px;
    left: 50px;
}
#number{
    position: relative;
    top: 50px;
    left: 50px;
    font-family: sans-serif;
    width: 250px ;
    height: 36px;
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    box-shadow: 0px 1px 1px rgba(2, 0, 0, 0.1);
}

#code{
    position: relative;
    top: 80px;
    left: 50px;
    font-family: sans-serif;
    width: 250px ;
    height: 36px;
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    box-shadow: 0px 1px 1px rgba(2, 0, 0, 0.1);
}

#ncode{
    position: relative;
    top: 110px;
    left:50px;
    font-family: sans-serif;
    width: 250px ;
    height: 36px;
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    box-shadow: 0px 1px 1px rgba(2, 0, 0, 0.1);
}
#btn1{
    position: relative;
    top: 180px;
    left: 50px;
    width: 260px;
    height: 50px;
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    background-color:blue;
    color: white;
}

#number-error{
    position: absolute;
    top:145px;
    left: 60px;
    font-size: 14px;
    color: red;

}
#password-error{
    position: absolute;
    top:220px;
    left: 60px;
    font-size: 14px;
    color: red;
}
#newpassword-error{
    position: absolute;
    top:300px;
    left: 60px;
    font-size: 14px;
    color: red;
}
#submit-error{
    position: absolute;
    top:420px;
    left: 60px;
    font-size: 14px;
    color: red;
}
#mismatch{
    position: absolute;
    top:340px;
    left: 60px;
    font-size: 14px;
    color: red;

}
i{
    color: seagreen;
}